CLERK_SECRET_KEY=
APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=your_appwrite_project_id
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=vernacular_saas
APPWRITE_CREATORS_TABLE_ID=creators
IG_API_PORT=8000
